<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="StockAcc_suite">
  <test name="Test">
    <classes>
      <class name="com.stockAccounting.Testcases.TestngSuppCreation"/>
      <class name="com.stockAccounting.Testcases.TestngStockCategories"/>
      <class name="com.stockAccounting.Testcases.TestngUom"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- StockAcc_suite -->
